version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build.gradle" }}
          - v1-dependencies-

      - run: ./gradlew wrapper dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - run: ./gradlew wrapper build

      - run:
          command:
            mkdir /tmp/build_artifacts
            mv ./build/libs/gendb-[0-9]+(\.[0-9]+)+-SNAPSHOT.jar /tmp/build_artifacts/gendb.jar

workflows:
  version: 2
  main:
    jobs:
      - build
