version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      - run: ./gradlew wrapper dependencies

      - run: ./gradlew wrapper build

      - run:
          command: |
            mkdir /tmp/build_artifacts
            mv ./build/libs/gendb-.+-SNAPSHOT.jar /tmp/build_artifacts/gendb.jar

      - store_artifacts:
          path: /tmp/build_artifacts

workflows:
  version: 2
  main:
    jobs:
      - build
